################################################################################
# GITIGNORE
# repository is place for source code not for binaries if you need to include
# binaries in repository then consider appropriate values .gitattributes
################################################################################


################################################################################
# ignore list
################################################################################
*~
**/*.sw[mnpcod]

build/*

################################################################################
# exception rules
################################################################################
!**/*.gitkeep
